.selection-bar {
  position: sticky;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 1 / -1;
  padding: 20px;
  background-color: color-mix(in srgb, var(--card-bg) 10%, transparent);
  backdrop-filter: blur(5px);
  border: 1px solid var(--accent);
  border-radius: 12px;
  z-index: 10;

  &__info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
  }

  &__icon {
    position: relative;
    display: inline-flex;
    margin: 0;
    width: 30px;
    height: 30px;
    flex: 0 0 auto;
    background-color: var(--accent);
    border: 1px solid var(--accent);
    border-radius: 6px;

    &::after {
      content: '';
      position: absolute;
      top: 46%;
      left: 50%;
      width: 14px;
      height: 8px;
      border-left: 2px solid var(--card-bg);
      border-bottom: 2px solid var(--card-bg);
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
