.password-strength-indicator {
  font-size: 0.8rem;

  &__list {
    margin: 0 0 15px 0;

    &-item--correct {
      color: var(--color-success);
    }

    &-item--incorrect {
      color: var(--text-placeholder);
    }
  }
}
